QTabBar::tab {
    padding: 8px 12px;
}

QTabBar::tab:selected {
    border-bottom-color: #3498DB;
}

QLineEdit {
    margin: 5px;
    background: #191919;
    border-color: #191919;
}

QLineEdit:focus {
    border-color: #444;
}

#filterBar, QTabBar {
    background: #222;
}
